<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Trabalho 2 - Gestão e avaliação de pesquisas"/>
        <meta name="author" content="Ana Carolina Fidelis Gonçalves"/>

        <title>Trabalho 2 | Editar Trabalho</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
        <!-- Page level plugin CSS-->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet"/>
        <!-- Custom styles for this template-->
        <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    </head>

    <body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="/">Trabalho 2</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/area-conhecimento}">
                        <i class="fas fa-fw fa-th"></i>
                        <span>Área de Conhecimento</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/avaliador}">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Avaliador</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trabalho}">
                        <i class="fas fa-fw fa-biohazard"></i>
                        <span>Trabalho</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/revisao}">
                        <i class="fas fa-fw fa-clipboard-check"></i>
                        <span>Revisão</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fas fa-fw fa-eye"></i>
                        <span>Login</span>
                    </a>
                </li>
            </ul>

            <div id="content-wrapper">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/trabalho}">Trabalho</a>
                        </li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>

                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-edit"></i> Trabalho 
                        </div>
                        <form th:action="@{/trabalho/update}" th:object="${trabalho}" method="post">
                            <div class="card-body">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="form-group">
                                    <label for="titulo">Título</label>
                                    <input type="text" class="form-control" th:field="*{titulo}" required=""/>
                                </div> 
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="url">URL</label>
                                            <input type="text" class="form-control" th:field="*{url}"/>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="areaConhecimento">Área de Conhecimento</label>
                                            <select class="form-control" th:field="*{areaConhecimento}" required="">
                                                <option value="">Selecione</option>
                                                <option th:each="areaConhecimento: ${areaConhecimentoList}" th:value="${areaConhecimento.id}" th:text="${areaConhecimento.nome}"></option>
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="decricao">Descrição</label>
                                    <textarea class="form-control" rows="10" th:field="*{descricao}"></textarea>
                                </div>   
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-dark" th:href="@{/trabalho}"><i class="fas fa-chevron-left"></i> Voltar</a>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div> 
                        </form>
                    </div>
                </div>

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Ana Carolina Fidelis Gonçalves 2019</span>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Page level plugin JavaScript-->
        <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/sb-admin.min.js}"></script>

        <!-- Custom  aplication-->
        <script th:src="@{/js/trabalho2.js}"></script>

    </body>
</html>
